.rtec-wrapper {
    box-sizing: border-box;
}

.rtec-single-event {
    display: inline-block;
    width: 47.5%;
    margin: 2em 2% 2em 0;
    border-radius: 3px;
    background: #23282d;
}
.rtec-event-meta {
    padding: .5em 1em .5em 1em;
}
.rtec-event-meta h3 {
    margin: .5em 0em;
    color: #fff;
}
.rtec-event-meta a {
    text-decoration: none;
}
.rtec-event-meta a h3:hover {
    color: #00a0d2;
}
.rtec-event-meta p {
    margin: 0em 0em .25em;
    color: #fff;
}

.rtec-single-event table td {
    word-wrap: break-word;
    max-width: 120px;
}
.rtec-wrapper .rtec-admin-secondary-button {
    margin-left: 1em;
}
.rtec-overview .rtec-admin-secondary-button {
    float: right;
    margin: .5em 1em .5em 1em;
}

/* Single */
.rtec-single .rtec-single-event {
    width: 100%;
}
.rtec-single table {
    position: relative;
}
.rtec-single .rtec-single-event table td {
    max-width: none;
}
.rtec-single table td input[type="checkbox"] {
    width: auto;
    margin: 0px 0px 0px 8px;
}
.rtec-single table .rtec-checkbox {
    padding: 11px 0 0 3px;
}
.rtec-table-changing {
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
}
.rtec-first-data {
    position: relative;
}
.rtec-notice-new {
    position: absolute;
    left: -15px;
    top: -2px;
    padding: 3px 4px 5px;
    line-height: 1;
    border-radius:50%;
    background: #ff6600;
    color: #fff;
    font-size: 10px;
}

.rtec-field-options-wrapper {
    width: 425px;
}

.rtec-field-options-wrapper,
.rtec-availability-options-wrapper {
    padding: 1em;
    margin-bottom: .5em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fbfbfb;

}

.rtec-field-options-wrapper h4,
.rtec-availability-options-wrapper h4 {
    margin: .5rem 0;
}

.rtec-field-options-wrapper h4 span {
    font-size: 12px;
    font-weight: normal;
}
.rtec-field-options-wrapper input[type=text] {
    width: 300px;
}
.rtec-availability-options-wrapper input[type=text] {
    margin-right: 1em;
}
.rtec-checkbox-row label {
    margin-right: 1em;
}

.rtec-availability-options-wrapper {
    margin: 1.5em 0 .5em;
}